*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
    font-family: "SF Pro Text", sans-serif;
    
}
a{
    display: block;
    text-decoration: none;
}
.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}
header{
    position: fixed;
    top: 0;
    background-color:rgba(0,0,0,.8);
    backdrop-filter: blur(2rem);
    z-index: 1400;
    height: 44px;
    width: 100%;
}
.links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}
.nav-links{
    font-size: 2.5.em;
    letter-spacing: 1.1px;
    color: #dfdfe2;
    
}
.nav-links:hover{
    opacity: .7;
}
.applelogo{
    width: 1.6rem;
    height: 4.4rem;
    color: #dfdfe2;
    background: url("svg/apple.svg") center no-repeat;
}
.shopbag{
    width: 1.6rem;
    height: 4.4rem;
    color: #dfdfe2;
    background: url("svg/search.svg") center no-repeat;
}
.search{
    width: 1.6rem;
    height: 4.4rem;
    color: #dfdfe2;
    background: url("svg/bag.svg") center no-repeat;
}

.Iphone-13pro{
    display: grid;
    place-items: center;
}
.title{
    text-align: center;
    margin-top: 5.4rem;
}
.title-heading{
    font-size: 5.5rem;
}
.title-subheading{
    font-size: 3.2rem;
    font-weight: 100;
    margin-top: 0.1rem;
}
.small-info{
    display: grid;
    place-items: center;
    width: 100%;
    height: 44px;
    margin-top: 4rem;
}
.info{
    text-align: center;
    font-size: 13px;
    display: flex;
}
.cta{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}
.cta-link{
    font-size: 21px;
    padding: 2px;
    margin: 4rem;
}
i{
    margin-left: 2px;
}
.Iphone-13{
    background-color: rgb(53,40,60);
}
.title-13{
    text-align: center;
    margin-top: 1.2rem;
}
.title-heading-13{
    font-size: 5.5rem;
    padding-top: 6.5rem;
}
.iphone-13{
    display: grid;
    place-items: center;
    padding-top: 3.5rem;
}
.title-subheading-13{
    font-size: 3rem;
    font-weight: 300;
    color: #FEC2EB;
}
.Macbookpro{
 display: grid;
 place-items: center;   
}

.collection-module{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}
.module-title{
    margin-top: 4rem;
  height: auto;
  width: auto;
    display: grid;
    place-items: center;
}
/* .hero-img {
    height: 35rem;
    width: auto;
} */
.hero-img img{
    height: 35rem;
}
.title-head{
    font-size: 3rem;
    font-weight: 600;
}
.title-subhead{
    font-size: 2rem;
    font-weight: 100;
    margin-top: 2rem;
}
.module-links{
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a{
    color: #2997FF;
}
.info{
    margin-top: 3rem;
    padding-left: 25rem;
    padding-right: 25rem;
}
.info-container{
    /* display: grid;
    place-items: center; */
    text-align:left
}
p{  
    font-size: 12px;
    color: #6E6E73;
    margin-top: 1.5rem;
    list-style: none;
    margin-bottom: 2rem;
}
.gap{
    margin: 2rem;
    color: #6E6E73;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 20%;
    font-size: 12px;
}
.footer-col a{
    color: #6E6E73;
}
.footer-col h4{
    font-size: 12px;
    color: #1d1d1f;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 600;
}
.footer-col ul li{
    margin-bottom: 10px;
}
.footer-col ul li:hover{
    text-decoration: underline;
}
.last{
    margin-bottom: 2rem;
}
.las {
    display: flex;
}
.las span{
    margin-left: auto;
}